<!-- 
<div class="bodyContents" id="footerContainer">
    <footer >
     <div class="footer-wrapper">
         <div class="footer-columns">
             <div class="footer-logo-column">

                <div class="footer-company-name">
                 <a href="/" aria-label="Go to Supabase homepage" title="Go to Supabase Homepage" >
                   <img src="/img/logo3.png" loading="lazy" alt="Supabase logo" class="footer-logo" width="200">
                 </a>
                </div>
                <br><br><br><br><br>
                
                 <div class="social-wrapper">
                     <div class='social-links'>
                         <ul>
                             <li>
                                 <a href="#" title="Twitter">
                                     <svg xmlns="http://www.w3.org/2000/svg"
                                         class="icon icon-tabler icon-tabler-brand-x" width="24" height="24"
                                         viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round">
                                         <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                         <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
                                         <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
                                     </svg>
                                 </a>
                             </li>
                             <li>
                                 <a href="#" title="GitHub">
                                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                         <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                         <rect x="4" y="4" width="16" height="16" rx="4" />
                                         <circle cx="12" cy="12" r="3" />
                                         <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
                                       </svg>
                                 </a>
                             </li>
                             <li>
                                 <a href="#" title="Discord">
                                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                         <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                         <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                                       </svg>
                                       
                                 </a>
                             </li>
                             <li>
                                 <a href="#" title="Youtube">
                                     <svg xmlns="http://www.w3.org/2000/svg"
                                         class="icon icon-tabler icon-tabler-brand-youtube" width="24" height="24"
                                         viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round">
                                         <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                         <path
                                             d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z" />
                                         <path d="M10 9l5 3l-5 3z" />
                                     </svg>
                                 </a>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
         
     bottom part section 
     <div class="footer-bottom">
         <div class="footer-bottom-wrapper">
             <small>© <span id="year"></span> Focushosi Inc.</small>
         </div>
     </div>
    </footer>
  </div> -->


  
<footer class="footer-distributed">

			<div class="footer-left">
                
                <img src="/img/logo3.png" alt="logo">

				<p class="footer-links">
					<a href="#" class="link-1"><i class="fa-brands fa-youtube"></i></a>
					
					<a href="#"> <i class="fa-brands fa-x-twitter"></i></a>
				
					<a href="#"><i class="fa-brands fa-instagram"></i></a>
				
					<a href="#"><i class="fa-brands fa-facebook"></i></a>
					
					<a href="#"><i class="fa-brands fa-whatsapp"></i></a>
					
					<a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
				</p>
                <small>© <span id="year"></span> Focushosi Inc.</small>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa-solid fa-location-dot"></i>
					<p><span>434 00100 Luthuli Ave</span> Karen, Nairobi</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+254 725 215 497</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">focushosi@gmail.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About Us</span>
					Our Hospital, established in 1998, has been dedicated to providing exceptional healthcare services to the community for over two decades.
				</p>
                


			</div>

		</footer>
