
<header class="header">
  <div class="logoName">
   <p  class="logo"><a  href="/"><img title="logo" src="/img/logo3.png";> FOCUS</a>  </p>
  </div>

  <input title="checkFoRmENU" type="checkbox" id="check">
  <label for="check" class="icons">
      <i class='bx bx-menu' id="menuIcon"></i>
      <i class='bx bx-x' id="closeIcon"></i>
  </label>

  

  <nav class="nav">
      <ul class="newNavigation">

          <li><a href="/" title="Blog">Home</a></li>
          
          <li>
              
              <a href="/services" title="Services">
                  Services
                  <!-- <svg xmlns="http://www.w3.org/2000/svg" class="chevron" width="24" height="24" viewBox="0 0 24 24"
                      stroke-width="2" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M9 6l6 6l-6 6"></path>
                  </svg> -->
              </a>
              <!-- <div class="servicesDropdown subnavigation__wrapper">
                  <ul>
                      <li><a href="#services" title="Services">Accident and emergency</a></li>
                      <li><a href="#portfolio" title="Portfolio">Surgery</a></li>
                      <li><a href="#services" title="Services">Dental procedures</a></li>
                      <li><a href="#services" title="Services">Family Medicine</a></li>
                      <li><a href="#portfolio" title="Portfolio">Maternity and women services</a></li>
                      <li><a href="#services" title="Services">Paediatrics</a></li>
                      <li><a href="/services" title="Portfolio">Other Services</a></li>
                  </ul>
              </div> -->
          </li>
          <li>
              
              <a href="#Patient Information" title="Home">
                  Patient Information
                  <svg xmlns="http://www.w3.org/2000/svg" class="chevron" width="24" height="24" viewBox="0 0 24 24"
                      stroke-width="2" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M9 6l6 6l-6 6"></path>
                  </svg>
              </a>
              <div class="patientDropdown subnavigation__wrapper">
                  <ul>
                      <li><a href="/staff" title="Services">Find a doctor</a></li>
                      <li><a href="/appointment" title="Services">Book an appointment</a></li>
                      <li><a href="/branches" title="Services">Outpatient centers</a></li>
                      <li><a href="/visiting" title="Services">Visiting</a></li>
                   
                  </ul>
              </div>
          </li>
          <li><a href="/news" title="news">News</a></li>
          <li>
              <a href="/branches" title="Company">
                  Branches

              </a>
            
          </li>
          <li>
              <a href="/about" title="About Us">
                  About us
                  
              </a>
             
          </li>
      </ul>
  </nav>
    
    
</header>
