<header class="header2">
    <div class="navNumbers">

        <div class="telephone1">   
            <i class="fa-solid fa-phone"></i>
                    <span>0725215497</span>
        </div>

        <div class="telephone2">   
            <i class="fa-solid fa-phone"></i>
                    <span>0725215497</span>
        </div>

        <div class="email1">   
            <i class="fa-solid fa-envelope"></i>
                    <span>focushosi@gmail.com</span>
        </div>

    </div>

   

     <nav class="nav2" >
      <div>
        
        <a href="#" style="--i:0"> <i class="fa-brands fa-x-twitter"></i></a>
        <a href="#" style="--i:1"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="#"style="--i:2"> <i class="fa-brands fa-facebook"></i></a> 
        <a href="#"style="--i:3" id="contacts"> <i class="fa-brands fa-instagram"></i></a>
        <a href="#"style="--i:4" id="contacts"> <i class="fa-brands fa-linkedin-in"></i></a>
        <a href="#"style="--i:5" id="contacts"> <i class="fa-brands fa-youtube"></i></a>
        <a href="#"style="--i:5" id="contacts">   <i class="fa-regular fa-user"> </i>  Login/Register</a>
         
        <button class="button" id="mode-toggle" >
      
            <img title="dark/light" src="/img/moon.png" id="darkIcon">
           </button>
      </div>
     
      
     
     </nav>  
      
</header>
