<div class="background">
    <div class="centering">
      <article>
        <figure>
          <img src="<%= article.img %>" alt="Article Image">
        </figure>
        <div class="article-content">
          <h1><%= article.title %></h1>
          <p><%= article.content %></p>
          <a href="/news" class="back-to-articles">Back to News</a>
        </div>
      </article>
    </div>
  </div>