<div style="text-align: center;margin-top: 40px;">
    <h1>Our Branches</h1>
  </div>
  

<div class="background">
    <div class="centering">
        <div class="articles">
            <article>
                <figure>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11389.042310546394!2d35.96535982652067!3d-0.1659890552527813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1829f6f367bba6d9%3A0x363c14244dccdde!2sKabarak%20University!5e0!3m2!1sen!2ske!4v1721946334429!5m2!1sen!2ske" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </figure>
                <div class="article-preview">
                    <h2>Karen</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                        Praesent in mauris eu tortor porttitor accumsan. 
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                        Praesent in mauris eu tortor porttitor accumsan. 
                        <a href="#" class="read-more" title="Read More">
                            Read more
                        </a>
                    </p>
                </div>
            </article>
            <article>            
                <figure>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11389.042310546394!2d35.96535982652067!3d-0.1659890552527813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1829f6f367bba6d9%3A0x363c14244dccdde!2sKabarak%20University!5e0!3m2!1sen!2ske!4v1721946334429!5m2!1sen!2ske" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </figure>
                <div class="article-preview">
                    <h2>Central Business District</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                        Praesent in mauris eu tortor porttitor accumsan. 
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                        Praesent in mauris eu tortor porttitor accumsan. 
                        <a href="#" class="read-more" title="Read More">
                            Read more
                        </a>
                    </p>
                </div>
            </article>
            <article>
                <figure>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11389.042310546394!2d35.96535982652067!3d-0.1659890552527813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1829f6f367bba6d9%3A0x363c14244dccdde!2sKabarak%20University!5e0!3m2!1sen!2ske!4v1721946334429!5m2!1sen!2ske" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </figure>
                <div class="article-preview">
                    <h2>Parklands</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 

                        <a href="#" class="read-more">
                            Read more
                        </a>
                    </p>
                </div>
            </article>
            <article>
                <figure>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11389.042310546394!2d35.96535982652067!3d-0.1659890552527813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1829f6f367bba6d9%3A0x363c14244dccdde!2sKabarak%20University!5e0!3m2!1sen!2ske!4v1721946334429!5m2!1sen!2ske" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </figure>
                <div class="article-preview">
                    <h2>Embakassi</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 

                        <a href="#" class="read-more">
                            Read more
                        </a>
                    </p>
                </div>
            </article>
            <article>            
                <figure>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11389.042310546394!2d35.96535982652067!3d-0.1659890552527813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1829f6f367bba6d9%3A0x363c14244dccdde!2sKabarak%20University!5e0!3m2!1sen!2ske!4v1721946334429!5m2!1sen!2ske" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </figure>
                <div class="article-preview">
                    <h2>Hurlingham</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 
                        <a href="#" class="read-more">
                            Read more
                        </a>
                    </p>
                </div>
            </article>
            <article>
                <figure>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11389.042310546394!2d35.96535982652067!3d-0.1659890552527813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1829f6f367bba6d9%3A0x363c14244dccdde!2sKabarak%20University!5e0!3m2!1sen!2ske!4v1721946334429!5m2!1sen!2ske" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </figure>
                <div class="article-preview">
                    <h2>Thika</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 

                        <a href="#" class="read-more">
                            Read more
                        </a>
                    </p>
                </div>
            </article>
            
        </div>
    </div>
</div>
