


    <div class="sliderContainer">
    
        <section class="intro">
          <div class="left">
            <div>
              <span class="explore">Focushosi</span>
              <h1>Your Health, Our Priority.</h1>
              <p> From state-of-the-art facilities to dedicated medical professionals, we provide comprehensive care tailored to your needs. Explore our services, meet our team, and learn how we can support your journey to optimal health. Join us in making your well-being our top priority.

              </p>
              <!--
              <a href="https://unsplash.com/" target="_blank">Images by Unsplash</a>
              -->
            </div>
          </div>
    
          <div class="slider">
            <ul>
              <li style="background-image:url(https://plus.unsplash.com/premium_photo-1681967103563-871828436e1d?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
                <div class="center-y">
                  <h3>Physiotherapy</h3>
                  <a href="#">More Details</a>	
                </div>
              </li>
              <li style="background-image:url(https://plus.unsplash.com/premium_photo-1664475477169-46b784084d4e?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
                <div class="center-y">
                  <h3>Surgery Department</h3>
                  <a href="#">More Details</a>	
                </div>
              </li>
              <li style="background-image:url(https://plus.unsplash.com/premium_photo-1682130157004-057c137d96d5?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
                <div class="center-y">
                  <h3>Find a Branch</h3>
                  <a href="#">More Details</a>	
                </div>
              </li>
            </ul>
    
            <ul>
              <nav>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
              </nav>
            </ul>
          </div>
      </section>
      </div>
     
      <div class="notbodyContainers linkcontainer">

                <div class="linkcontents">
                    <div class="iconholder">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="linkwords">
                        <h3>Book Appointment</h3><br>
                        <h4>Easily book an appointment with one of our specialists</h4><br>
                        <a href="#Vvisiting">MORE DETAILS</a>

                    </div>
                </div>
                <div class="linkcontents">
                    <div class="iconholder">
                        <i class="fa-solid fa-truck-medical"></i></i>
                    </div>
                    <div class="linkwords">
                        <h3>Emergency</h3><br>
                        <h4>Our emergency department is active 24/7</h4><br>
                        <a href="#Vvisiting">MORE DETAILS</a>
                    </div>
                </div>
                <div class="linkcontents">
                    <div class="iconholder">
                        <i class="fa-solid fa-bed-pulse"></i></i>
                    </div>
                    <div class="linkwords">
                        <h3>Visitation</h3><br>
                        <h4>8:00 am - 12:00 midnight</h4><br>
                        <a href="#Vvisiting">MORE DETAILS</a>
                    </div>
                </div>

        </div>
        <br><br>
      
  <div class="notbodyContainers secondlinkcontainer">

    <div class="secondlinkcontents" id="callContainer">
      
        <div class="secondlinkwords">
            <h3>Call +254 725 215 497</h3>
            <br>
            <h2>Book Appointment</h2><br>
            <h4>Our call center is active 24/7, ensuring that you can reach us anytime for assistance and support.

        </h4><br>
            

        </div>
    </div>
    <div class="secondlinkcontents pharmContainer" id="pharmacyContainer">
        
        <div class="secondlinkwords" >
            <h2>Pharmacy Services</h2><br>
            <h4>We offer medicine delivery<br>
                 1.call/text/whatsapp your prescription to <br>+254 711123123<br><br>
                 2.Scan your prescription at <a href="telemed@focushosi.co.ke">telemed@focushosi.co.ke</a> </h4>
            </h4><br>
            <h4> Whether you need a routine refill or a new prescription, our reliable delivery service ensures your medications arrive safely and promptly at your doorstep. 
            </h4><br>
            
        </div>
    </div>
    <div class="secondlinkcontents" id="consultContainer">
       
        <div class="secondlinkwords">
            <h2>Online Consultations</h2><br>
            <h4>Through secure video calls, patients can connect with healthcare professionals to discuss symptoms, receive diagnoses, and obtain prescriptions without the need for in-person visits.
                 This service ensures timely access to medical expertise, making healthcare more accessible and reducing the need for travel.
            </h4><br>
            <a id="consultButton" href="#Vvisiting">SCHEDULE ONLINE CONSULTATION</a>
        </div>
    </div>


</div>
  <br><br>
  <div class="bodyContainers tabContainer">
       

    <div class="tabs-container">
        <div class="tabs-layout">
            <select title="tabList" class="tabs-select">
                <option value="tab1">Find a Clinic</option>
                <option value="tab2">Paediatric Care</option>
                <option value="tab3">Labor and Women's health</option>
                <option value="tab4">Psichiatric and Psyhological ward</option>
                <option value="tab5">Oncology Department</option>
                <option value="tab6">Patient Admissions</option>
            </select>
            <ul class="tabs">
                <li>
                    <a id="tab1" title="Your Idea & Vision" href="#tab1">
                       
                        Find a Clinic
                    </a>
                </li>
                <li>
                    <a id="tab2" title="Product Specification" href="#tab2">
                       
                        Paediatric Care
                    </a>
                </li>
                <li>
                    <a id="tab3" title="UX/UI Design" href="#tab3">
                       
                        Labor and Women's health
                    </a>
                </li>
                <li>
                    <a id="tab4" title="Software Development" href="#tab4">
                       
                        Psichiatric and Psyhological ward
                    </a>
                </li>
                <li>
                    <a id="tab5" title="Architecture & Engineering" href="#tab5">
                       
                        Oncology Department
                    </a>
                </li>
                <li>
                    <a id="tab6" title="MVP Release & Iterations" href="#tab6">
                       
                        Patient Admissions
                    </a>
                </li>
            </ul>
            <div class="tab-content-wrapper">
                <section id="tab1-content" class="tab-content">
                    <h2>Find a Clinic</h2>
                    <p>
                        Our hospital network spans multiple branches, each equipped with advanced medical technology and specialized departments. 
                        No matter where you are, quality healthcare is always within reach. 
                        Explore our locations to find the best care near you.    
                     </p>
                     <p class="ScreenMap smallScreenMap" >
                     <br>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d19689.4117179024!2d35.96141813148946!3d-0.15433745103980506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ske!4v1721259264909!5m2!1sen!2ske" width="330" height="350"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                     </p>
                     <p class="ScreenMap midScreenMap" >
                        <br>
                           <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d19689.4117179024!2d35.96141813148946!3d-0.15433745103980506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ske!4v1721259264909!5m2!1sen!2ske" width="450" height="400"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </p>
                     <p class="ScreenMap bigScreenMap" >
                        <br>
                           <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d19689.4117179024!2d35.96141813148946!3d-0.15433745103980506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ske!4v1721259264909!5m2!1sen!2ske" width="600" height="430"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </p>
                    
                </section>
                <section id="tab2-content" class="tab-content">
                    <h2>Paediatric Care</h2>
                    <p>
                        Our pediatric care is dedicated to the health and well-being of your little ones. 
                        With a team of compassionate specialists and child-friendly facilities, we provide comprehensive medical services for children of all ages. 
                        Trust us to deliver the best care for your child's growth and development.

                      </p>
                    <img src="img/paediatric.png" alt="product">
                </section>
                <section id="tab3-content" class="tab-content">
                    <h2>Labor and Women's health</h2>
                    <p>
                        Our labor and women's health services are designed to support women through every stage of life. 
                        From prenatal care to childbirth and beyond, our experienced team provides personalized care in a comfortable and nurturing environment. 
                        We are committed to ensuring the health and well-being of women with comprehensive services tailored to their unique needs.
                    </p>
                    <img src="img/maternity2.png" alt="ui">

                </section>
                <section id="tab4-content" class="tab-content">
                    <h2>Psichiatric and Psyhological ward</h2>
                    <p>
                        Our psychiatric and psychological ward offers compassionate care for mental health and well-being.
                         With a team of experienced psychiatrists, psychologists, and therapists, we provide comprehensive treatment plans tailored to individual needs. 
                         We are dedicated to creating a safe and supportive environment to help patients on their journey to mental wellness.

                    </p>
                    <img src="img/mental.png" alt="brain">

                </section>
                <section id="tab5-content" class="tab-content">
                    <h2>Oncology Department</h2>
                    <p>
                        Our oncology department is at the forefront of cancer care, offering cutting-edge treatments and compassionate support.
                         With a team of renowned oncologists, advanced diagnostic tools, and personalized treatment plans, we are dedicated to fighting cancer and improving patient outcomes.
                          Trust us to provide comprehensive care every step of the way.

                    </p>
                    <img src="img/cancer.png" alt="engineer">
                </section>
                <section id="tab6-content" class="tab-content">
                    <h2>Patient Admissions</h2>
                    <p>
                        Our patient admissions process is designed to ensure a smooth and supportive experience from the moment you arrive. 
                        Our dedicated admissions team is here to guide you through paperwork, insurance details, and any questions you may have, making your transition into care seamless. 
                        Count on us to prioritize your comfort and well-being throughout your stay with us.
                    </p>
                    <img src="img/patient.png" alt="release">
                </section>
            </div>
        </div>
    </div>

   </div>
     <br><br>
    <div class="bodyContainers accordionContainer">
        
        <div class="faq-container">
            <details>
              <summary>
                <span class="faq-title">
                    What are the visiting hours?
                </span>
                <i class="fa-solid fa-chevron-down"></i>
              </summary>        
              <div class="faq-content">
                Visiting hours are from 8 AM to 8 PM daily. Special arrangements can be made for critical care units.. ...
              </div>
            </details>
            <details>
              <summary>
                <span class="faq-title">
                    How do I schedule an appointment?
                </span>
                <i class="fa-solid fa-chevron-down"></i>
              </summary>        
              <div class="faq-content">
                You can schedule an appointment by calling our call center at +254 725 215497, using our online booking system on the website, or visiting the reception desk in person.
              </div>
            </details>
            <details>
              <summary>
                <span class="faq-title">What documents do I need for admission?</span>
                <i class="fa-solid fa-chevron-down"></i>
              </summary>        
              <div class="faq-content">You will need a valid ID, insurance card, and any referral letters from your doctor. Additional documents may be required for specific treatments.</div>
            </details>
            <details>
              <summary>
                <span class="faq-title">How can I pay my bill?</span>
                <i class="fa-solid fa-chevron-down"></i>
              </summary>        
              <div class="faq-content">Bills can be paid online through our website, at the billing office in the hospital, or by calling our billing department at +254 722 222222.</div>
            </details>
            <details>
              <summary>
                <span class="faq-title">How do I get my medical records?</span>
                <i class="fa-solid fa-chevron-down"></i>
              </summary>        
              <div class="faq-content"> You can request your medical records by filling out a form at the medical records department or through our patient portal on the website.</div>
            </details>
          </div>
        
        
     </div>
    <br><br>


    <div class="bodyContainers newsContainer">
        <div class="newsheader">
            NEWS AND EVENTS
        </div>
    
    
<div class="background">
    <div class="centering">
        <div class="articles">
            <article>
                <figure>
                    <img
                        src="https://images.unsplash.com/photo-1599700403969-f77b3aa74837?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="Preview"
                    >
                </figure>
                <div class="article-preview">
                    <h2>42 New Ambulances</h2>
                    <p>
                        In a significant move aimed at bolstering emergency response capabilities, our hospital has proudly announced the acquisition of 40 new state-of-the-art ambulances.
                        This investment underscores our commitment to prioritizing patient care and ensuring rapid access to critical healthcare interventions when every minute counts. 
                       <br>     
                          <a href="#" class="read-more" title="Read More">
                            Read more
                        </a>
                    </p>
                </div>
            </article>
            <article>            
                <figure>
                    <img
                        src="https://images.unsplash.com/photo-1598885159329-9377168ac375?q=80&w=1473&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                          alt="Preview"
                    >
                </figure>
                <div class="article-preview">
                    <h2>Free Cancer Sreenings</h2>
                    <p>We are pleased to announce that in honor of Cancer Awareness Month, our hospital will be offering free cancer screenings throughout the month.
                         These screenings aim to promote early detection and prevention, crucial in the fight against cancer. 
                         Join us in taking proactive steps towards a healthier future.
                         <br>                       
                        <a href="#" class="read-more" title="Read More">
                            Read more
                        </a>
                    </p>
                </div>
            </article>
            <article>
                <figure>
                    <img
                        src="https://plus.unsplash.com/premium_photo-1661418110849-4fd7b3ec3c62?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"       
                        alt="Preview"
                    >
                </figure>
                <div class="article-preview">
                    <h2>Introducing our new mobile app</h2>
                    <p>
                        Introducing our new mobile app! Accessible and user-friendly, it puts your healthcare in your hands. 
                        From scheduling appointments to accessing medical records securely, our app is designed to simplify your healthcare journey.
                         Stay connected with us wherever you go, ensuring seamless care at your fingertips.
                        <br>






                        <a href="#" class="read-more">
                            Read more
                        </a>
                    </p>
                </div>
            </article>
           
        </div>
    </div>
</div>
    
    
<div class="newsmore">
    <a href="#" class="">
        Read More
    </a>
</div>
    
    </div>
    
  

   