<div style="text-align: center;margin-top: 40px;">
    <h1>Services</h1>
</div>
  <div class="servicesParagraphContainer">
        <div class="servicesParagraph">
        Welcome to Our Hospital, where we proudly offer a wide variety of medical services 
        to meet the diverse needs of our patients. Our state-of-the-art facility is staffed 
        by skilled and compassionate healthcare professionals committed to providing exceptional care.<br><br>
        Among our general services, we offer Admission/Inpatient care, Accidents and Emergency, 
        Dermatology and Venereology, Radiology, Pharmacy, Surgery, and Laboratory services. <br><br>
        These departments ensure comprehensive care and support for a broad range of medical needs.<br><br>
        For specialized care, we provide Cancer Care, Kidney/Renal Care, Diabetes management, 
        Children's Hospital, Cardiac Clinic, OB/GYN, Eye Clinic, and Orthopedic Care. 
        Each specialized unit is equipped with advanced technology and expert staff to deliver targeted 
        treatments and support.<br><br> Additionally, we offer Physiotherapy, Haematology, Mental Health services, and Dietetic
        Services, ensuring holistic care and well-being for our patients.<br><br> At Our Hospital, we 
        are dedicated to providing compassionate, personalized care to meet the healthcare needs of our community.
        <br><br><br>
        All our branches offer these services so feel free to drop by.
    </div>
</div>

<div class="servicesContainer">
    <div class="servicesContent">
        <h2>General Services</h2>
        <a href="#"><div class="sideServices">Admission/Inpatient</div></a>
        <a href="#"><div class="sideServices">Accidents and emergency</div></a>
        <a href="#"><div class="sideServices">Dermatology and Veneorology</div></a>
        <a href="#"><div class="sideServices">Radiology</div></a>
        <a href="#"><div class="sideServices">Pharmacy</div></a>
        <a href="#"><div class="sideServices">Surgery</div></a>
        <a href="#"><div class="sideServices">Laboratory</div></a>
        
     </div>
    <div class="servicesContent">
        <h2>Specialised Services</h2>
        <a href="#"><div class="sideServices">Cancer care</div></a>
        <a href="#"><div class="sideServices">Kidney/Renal Care</div></a>
        <a href="#"><div class="sideServices">Diabetes</div></a>
        <a href="#"><div class="sideServices">Children's hospital</div></a>
        <a href="#"><div class="sideServices">Cardiac Clinic</div></a>
        <a href="#"><div class="sideServices">OB/GYN</div></a>
        <a href="#"><div class="sideServices">Eye Clinic</div></a>
        <a href="#"><div class="sideServices">Orthopedic Care</div></a>
   
    </div>
    <div class="servicesContent" >
        <h2>Other Services</h2>
        <a href="#"><div class="sideServices">Physiotherapy</div></a>
        <a href="#"><div class="sideServices">Haematology</div></a>
        <a href="#"><div class="sideServices">Mental Health</div></a>
        <a href="#"><div class="sideServices">Dietetic Services</div></a>
       
    </div>
</div >
