
    
    <div  id="visitingContainer">
        <h1>Visiting Policies</h1>
    </div>
    <div class="visitingWords">
        
        <h3>Visiting Hours are between 8:00 am to 11:00pm </h3>
        <br><br><br>

        At our hospital, we strive to create a supportive and welcoming environment for patients
         and their families.
        <br><br>
         Our visiting policies are designed to ensure the comfort and safety
          of all patients. 
          <br><br>Visitors are generally allowed between 9 AM and 8 PM daily. However, 
          specific visiting hours may vary depending on the patient's unit or condition, so please 
          check with the nursing staff for any special restrictions or guidelines. <br><br><br>
         <h3> While visiting:</h3><br>

          <ul>
            <li>
                We ask that visitors limit their stay to two at a time per patient to maintain a peaceful 
                and manageable atmosphere.</li>
            <li> Please adhere to hand hygiene protocols and wear masks if required by the unit's policy.</li>
            <li> For the comfort of patients and to ensure proper care, we request that visitors avoid visiting 
                if they are feeling unwell.</li>
            <li>Since we have people with various medical conditions, smoking is prohibited on the premises</li>
          </ul>
 <br>
           <br>
           <br>
           Additionally, our hospital offers various amenities such as a 
           cafeteria, a gift shop, and designated waiting areas to support visitors during their stay. 
           For any special needs or further assistance, our staff is always available to help. Thank you 
           for your cooperation and understanding as we work to provide the best possible care.
    </div>

